/* Layout =================================================================== */

#main-container {
    height: 100vh;
}

#chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: pan-y;  /* vertical panning only, no pinching; affects page only, not chart */
}

#chart {
    width: 100%;
    height: 100%;
    background: transparent;
}



